.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

.overview{
    text-align: center;
    border: 3px solid rgb(99, 99, 99);
    background-color: white;
}

.thumbnail-product{
    height: 320px;
}

.info-product{
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: lightcoral;
}

.btn-mua{
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: 3px solid black;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 4px 4px 4px 4px;
}

.btn-mua:active{
    background-color: #c6c6c6;
    color: #000;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-top: 30px;
}

.interact-btn{
    flex: 1;
    height: 70px;
    width: 200px;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(22, 198, 22);
    border: 2px solid lightgray;
    border-radius: 4px;
    transition: box-shadow 0.2;
    cursor: pointer;
}

.interact-btn:hover{
    box-shadow: 7px 7px 10px rgba(200, 20, 120, 0.4);
    font-size: 24px;
}

.interact-btn:active{
    background-color: #c6c6c6;
}