.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 160px;
    background-color: rgb(50, 50, 50);
    border-right: 3px solid #ED7D31;
    border-top: 3px solid #ED7D31;
    z-index: 200;
}

.btn-sidebar{
    height: 56px;
    font-family: Oswald, sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #ED7D31;
    padding: 4px 4px 4px 4px;
    border: 2px solid lightgray;
    border-radius: 8px;
    transition: box-shawdow 0.2s;
    cursor: pointer;
}

.btn-sidebar:hover{
    box-shadow: 5px 5px 10px rgba(244, 223, 200, 0.4);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.btn-sidebar:active{
    background-color: #c6c6c6;
}
